name: .Net Library API CI/CD

on:
  push:
    branches:
      - master
    paths-ignore:
      - README.md
      - '.github/workflows/*'
  workflow_dispatch:

jobs:

  test:
    name: Build + Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      # HIGH PERFORMANCE CACHE
      - name: Cache NuGet
        uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Restore Dependencies
        run: dotnet restore

      - name: Build Solution
        run: dotnet build -c Release --no-restore

      - name: Run Test Projects
        run: dotnet test --configuration Release --no-build --verbosity normal


  publish:
    name: Publish Application
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Publish for Deployment
        run: dotnet publish -c Release -o ./publish

      - name: Upload Published Artifact
        uses: actions/upload-artifact@v4
        with:
          name: published-app
          path: ./publish
